<div class="panel panel-default">
  <div class="panel-heading">
    <h4>ユーザー情報の変更</h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %> <i>パスワードを変更しない場合はこのまま空白にしてください</i><br />
      <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %> <i>現在のパスワードを入力してください</i>
      <%= f.password_field :current_password, class: "form-control" %>
    </div>
    <%= f.submit t('.update', :default => "更新"), class: "btn btn-primary" %></div>
<% end %>
</div>

<p><%= link_to t('.cancel_my_account', :default => "退会する"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete, class: "btn btn-danger" %>.</p>

<%= render "devise/shared/links" %>
